* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    font-size: 1.8rem;
    background: var(--light__color);
}

img {
    display: block;
    max-width: 100%;
    /* width: 100%; */
    object-fit: cover;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input,
button,
textarea {
    outline: none;
    border: none;
    font-size: 1.8rem;
}

textarea {
    resize: none;
}

button,
i,
a {
    cursor: pointer;

}

.container {
    width: 90%;
    margin: 0 auto;

}

ul,
ol {
    margin: 0;
    padding: 0;
}