:root {
  --primary__color: #000;
  --second__color: linear-gradient(to right, #c72092, #6c14d0);
  --third__color: #fe8b78;
  --four__color: #20e3b2;
  --five__color: #c72092;
  --light__color: #fff;
  --six__color: #636363;
  --seven__color: #e8e8e8;
  --background: linear-gradient(to right, #c72092, #6c14d0);
  --transition: all 0.3s linear;
  --color1: #69c445; //success
  --color2: #2a53cd; // infor
  --color3: #f5bd00; //waring
  --color4: #eb3941; //err
}
